n8n/workflows/Agendador_IAudit.json
{
    "name": "Agendador_IAudit",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 5
                        }
                    ]
                }
            },
            "id": "scheduler-trigger",
            "name": "Trigger a cada 5 minutos",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT e.* FROM empresas e\nWHERE e.ativo = true\nAND NOT EXISTS (\n  SELECT 1 FROM consultas c\n  WHERE c.empresa_id = e.id\n  AND c.status IN ('agendada', 'processando')\n  AND c.data_agendada > NOW()\n)\nAND (\n  (e.periodicidade = 'diario' AND\n   NOT EXISTS (SELECT 1 FROM consultas WHERE empresa_id = e.id AND DATE(data_execucao) = CURRENT_DATE))\n  OR\n  (e.periodicidade = 'semanal' AND EXTRACT(DOW FROM NOW()) = e.dia_semana)\n  OR\n  (e.periodicidade = 'quinzenal' AND (EXTRACT(DAY FROM NOW()) = 1 OR EXTRACT(DAY FROM NOW()) = 15))\n  OR\n  (e.periodicidade = 'mensal' AND EXTRACT(DAY FROM NOW()) = e.dia_mes)\n)\nAND e.horario <= CURRENT_TIME\nLIMIT 10;"
            },
            "id": "query-empresas",
            "name": "Buscar Empresas Agendadas",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                450,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "supabase-connection",
                    "name": "Supabase IAudit"
                }
            }
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "split-batches",
            "name": "Processar um por vez",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3.1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const empresa = $input.item.json;\n\nconst tipos = ['cnd_federal', 'cnd_pr', 'fgts_regularidade'];\nconst consultas = [];\n\nfor (const tipo of tipos) {\n  consultas.push({\n    empresa_id: empresa.id,\n    tipo: tipo,\n    status: 'agendada',\n    data_agendada: new Date().toISOString(),\n    tentativas: 0\n  });\n}\n\nreturn consultas.map(c => ({ json: c }));"
            },
            "id": "create-consultas",
            "name": "Criar 3 Consultas",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "operation": "insert",
                "table": "consultas",
                "columns": "empresa_id, tipo, status, data_agendada, tentativas",
                "options": {}
            },
            "id": "insert-consultas",
            "name": "Salvar no Banco",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1050,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "supabase-connection",
                    "name": "Supabase IAudit"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://n8n2.allanturing.com/webhook/consulta-cnd-federal",
                "options": {
                    "bodyParametersUi": {
                        "parameter": [
                            {
                                "name": "consulta_id",
                                "value": "={{ $json.id }}"
                            },
                            {
                                "name": "cnpj",
                                "value": "={{ $json.cnpj }}"
                            }
                        ]
                    }
                }
            },
            "id": "trigger-workflows",
            "name": "Disparar Workflows",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1250,
                300
            ]
        }
    ],
    "connections": {
        "Trigger a cada 5 minutos": {
            "main": [
                [
                    {
                        "node": "Buscar Empresas Agendadas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Empresas Agendadas": {
            "main": [
                [
                    {
                        "node": "Processar um por vez",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Processar um por vez": {
            "main": [
                [
                    {
                        "node": "Criar 3 Consultas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Criar 3 Consultas": {
            "main": [
                [
                    {
                        "node": "Salvar no Banco",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Salvar no Banco": {
            "main": [
                [
                    {
                        "node": "Disparar Workflows",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "1",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "iaudit-local"
    },
    "id": "agendador-iaudit",
    "tags": []
}