n8n/workflows/Consulta_CND_Federal.json
{
    "name": "Consulta_CND_Federal",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "consulta-cnd-federal",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "consulta-cnd-federal"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE consultas SET status = 'processando' WHERE id = '{{ $json.body.consulta_id }}'"
            },
            "id": "update-status-processing",
            "name": "Marcar como Processando",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                450,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "supabase-connection",
                    "name": "Supabase IAudit"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.infosimples.com/api/v2/consultas/receita-federal/pgfn/nova",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer sntc-QB4cRyQ19y-VgLlBZSwh_41YupJFE9g_-Ye"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "cnpj",
                            "value": "={{ $json.body.cnpj }}"
                        },
                        {
                            "name": "tipo",
                            "value": "cnpj"
                        }
                    ]
                },
                "options": {}
            },
            "id": "api-infosimples",
            "name": "Consultar InfoSimples",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "amount": 30,
                "unit": "seconds"
            },
            "id": "wait-processing",
            "name": "Aguardar Processamento",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "success-condition",
                            "leftValue": "={{ $json.code }}",
                            "rightValue": "200",
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-success",
            "name": "Sucesso?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.1,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const response = $input.item.json;\n\nreturn [{\n  json: {\n    situacao: response.data.situacao === 'positiva' ? 'positiva' : 'negativa',\n    pdf_url: response.data.pdf_url || null,\n    data_validade: response.data.validade || null,\n    resultado_json: response\n  }\n}];"
            },
            "id": "extract-data",
            "name": "Extrair Dados",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1250,
                200
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE consultas SET status = 'concluida', situacao = '{{ $json.situacao }}', pdf_url = '{{ $json.pdf_url }}', data_validade = '{{ $json.data_validade }}', resultado_json = '{{ $json.resultado_json }}', data_execucao = NOW() WHERE id = '{{ $('Webhook Trigger').item.json.body.consulta_id }}'"
            },
            "id": "update-success",
            "name": "Salvar Sucesso",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1450,
                200
            ],
            "credentials": {
                "postgres": {
                    "id": "supabase-connection",
                    "name": "Supabase IAudit"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE consultas SET tentativas = tentativas + 1, mensagem_erro = 'Erro na API', status = CASE WHEN tentativas >= 2 THEN 'erro' ELSE 'agendada' END WHERE id = '{{ $('Webhook Trigger').item.json.body.consulta_id }}'"
            },
            "id": "update-error",
            "name": "Registrar Erro",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1250,
                400
            ],
            "credentials": {
                "postgres": {
                    "id": "supabase-connection",
                    "name": "Supabase IAudit"
                }
            }
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Marcar como Processando",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Marcar como Processando": {
            "main": [
                [
                    {
                        "node": "Consultar InfoSimples",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consultar InfoSimples": {
            "main": [
                [
                    {
                        "node": "Aguardar Processamento",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aguardar Processamento": {
            "main": [
                [
                    {
                        "node": "Sucesso?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sucesso?": {
            "main": [
                [
                    {
                        "node": "Extrair Dados",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Registrar Erro",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extrair Dados": {
            "main": [
                [
                    {
                        "node": "Salvar Sucesso",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "1",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "iaudit-local"
    },
    "id": "consulta-cnd-federal",
    "tags": []
}