n8n/workflows/Consulta_FGTS.json
{
    "name": "Consulta_FGTS_Regularidade",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "consulta-fgts",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "consulta-fgts"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE consultas SET status = 'processando' WHERE id = '{{ $json.body.consulta_id }}'"
            },
            "id": "update-status",
            "name": "Marcar como Processando",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                450,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "supabase-connection",
                    "name": "Supabase IAudit"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.infosimples.com/api/v2/consultas/caixa/regularidade",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer sntc-QB4cRyQ19y-VgLlBZSwh_41YupJFE9g_-Ye"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "cnpj",
                            "value": "={{ $json.body.cnpj }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "api-call",
            "name": "Consultar FGTS Caixa",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "amount": 30,
                "unit": "seconds"
            },
            "id": "wait",
            "name": "Aguardar",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "success",
                            "leftValue": "={{ $json.code }}",
                            "rightValue": "200",
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-success",
            "name": "Sucesso?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.1,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const response = $input.item.json;\nconst situacao = response.data.situacao === 'regular' ? 'positiva' : 'negativa';\n\nreturn [{\n  json: {\n    situacao: situacao,\n    pdf_url: response.data.pdf_url || null,\n    resultado_json: response,\n    alerta_prioritario: situacao === 'negativa'\n  }\n}];"
            },
            "id": "extract-data",
            "name": "Extrair e Avaliar",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1250,
                200
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE consultas SET status = 'concluida', situacao = '{{ $json.situacao }}', pdf_url = '{{ $json.pdf_url }}', resultado_json = '{{ $json.resultado_json }}', data_execucao = NOW() WHERE id = '{{ $('Webhook Trigger').item.json.body.consulta_id }}'"
            },
            "id": "save-success",
            "name": "Salvar Resultado",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1450,
                200
            ],
            "credentials": {
                "postgres": {
                    "id": "supabase-connection",
                    "name": "Supabase IAudit"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "irregular",
                            "leftValue": "={{ $json.alerta_prioritario }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-alert",
            "name": "Alerta Prioritário?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.1,
            "position": [
                1650,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:5678/webhook/notificador-alertas",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "consulta_id",
                            "value": "={{ $('Webhook Trigger').item.json.body.consulta_id }}"
                        },
                        {
                            "name": "tipo",
                            "value": "fgts_irregular"
                        }
                    ]
                },
                "options": {}
            },
            "id": "trigger-alert",
            "name": "Disparar Notificação",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1850,
                150
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE consultas SET tentativas = tentativas + 1, status = CASE WHEN tentativas >= 2 THEN 'erro' ELSE 'agendada' END WHERE id = '{{ $('Webhook Trigger').item.json.body.consulta_id }}'"
            },
            "id": "save-error",
            "name": "Registrar Erro",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1250,
                400
            ],
            "credentials": {
                "postgres": {
                    "id": "supabase-connection",
                    "name": "Supabase IAudit"
                }
            }
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Marcar como Processando",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Marcar como Processando": {
            "main": [
                [
                    {
                        "node": "Consultar FGTS Caixa",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consultar FGTS Caixa": {
            "main": [
                [
                    {
                        "node": "Aguardar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aguardar": {
            "main": [
                [
                    {
                        "node": "Sucesso?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sucesso?": {
            "main": [
                [
                    {
                        "node": "Extrair e Avaliar",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Registrar Erro",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extrair e Avaliar": {
            "main": [
                [
                    {
                        "node": "Salvar Resultado",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Salvar Resultado": {
            "main": [
                [
                    {
                        "node": "Alerta Prioritário?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Alerta Prioritário?": {
            "main": [
                [
                    {
                        "node": "Disparar Notificação",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "1",
    "id": "consulta-fgts",
    "tags": []
}